{
    border: 1px solid red !important;
}

body {
	background-color: whitesmoke;
	font-family: 'Open Sans Condensed', sans-serif;
}

#title {
	text-align: right;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 72px;
	padding-top: 90px;
	color: slategrey;
}

.contactInfo {
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 10px;
	display: flex;
	padding-left: 25px;
}

.container {
    padding-bottom: 50px;
    padding-top: 50px;
}

p {
    text-align: center;
    letter-spacing: 1px;
}

#map {
	height: 400px;
	width: 400px;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	margin-top: 15px;
	margin-bottom: 15px
}

.imgResponsive {
	display: flex;
	max-width: 100%;
	max-height: 100%;
	text-align: center;
}

#divider {
	height: 2px;
	width: 100%;
	background-color: slategrey;
}

@media (max-width: 991px) {
	.picBank {
		padding-left: 25%;
		padding-right: 25%;
		margin-bottom: 10px;
	}
	#title {
		text-align: center;
		padding: 0px;
	}
	.logo {
	    padding-left: 35%;
	    padding-right: 35%; 
	}
	.contactInfo {	
		padding-left: 25%;
		padding-right: 25%;
	}
	p {
		margin-left: 50px;
		margin-right: 50px;
	}
}

@media (max-width: 767px) {
	#divider {
		position: relative;
		text-align:;
		height: 2px;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		background-color: slategrey;
	}
	#title {
		position: relative;
		text-align: center;
		padding: 0px;
	}
	.picBank {
		margin-bottom: 50px;
	}
	p {
		line-height: 25px;
	}
}

