*{
    border: 1px solid red !important;
}

body {
	background-color: whitesmoke;
	font-family: 'Open Sans Condensed', sans-serif;
}

#title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 72px;
	text-align: right;
	padding-top: 90px;
}

.contactInfo {
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 10px;
	display: flex;
	padding-left: 25px;
}

.container {
    padding-bottom: 50px;
    padding-top: 50px;
}

p {
    text-align: center;
}

#map {
	height: 400px;
	width: 400px;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.picBank {
	margin-top: 15px;
	margin-bottom: 15px;
}

.logo {
	margin-top: 15px;
	margin-bottom: 15px
}

@media (max-width: 1270px) {
	.picBank {
		padding-left: 25%;
		padding-right: 25%;
	}
	#title {
		text-align: center;
		padding: 0px;
	}
	.logo {
	    padding-left: 35%;
	    padding-right: 35%; 
	}
	.contactInfo {
		text-align: left;
		padding-left: 25%;
		padding-right: 25%;
	}
}
